@charset "UTF-8";
h1
{
	text-align:center;
}
h2
{
	text-align:center;
	color:MediumSeaGreen;
	margin-top:100px;
	margin-right:200px;
}
.accountNum
{
	color:Gold;
	background-color:DarkRed;
	padding:7px 6px;
}
h3
{
	text-align:center;
	color:Tomato;
}
.subButton
{
	width: 50%;  
    height: 50px;  
    border: none;  
    border-radius: 50px;  
    padding-left: 5px; 
    background-color:DarkRed;
    color:Gold;
}
.Container
{
padding: 16px;
 margin-left:auto;
 margin-right:auto;  
 margin-top:100px;
  border-radius: 15px ;  
  border:2px solid black;
  width:40%;
  text-align:center;
  background-color:Gainsboro;
}
select
{
	padding: 12px 20px;
	width:50%
}
input[type=text] ,input[type=number]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  
}